/* Pour pouvoir utiliser une hauteur (height) ou une hauteur minimale
   (min-height) sur un bloc, il faut que son parent direct ait lui-même une
   hauteur déterminée (donc toute valeur de height sauf "auto": hauteur en
   pixels, em, autres unités...).
   Si la hauteur du parent est en pourcentage, elle se réfère alors à la
   hauteur du «grand-père», et ainsi de suite.
   Pour pouvoir utiliser un "min-height: 100%" sur div#global, il nous faut:
   - un parent (body) en "height: 100%";
   - le parent de body également en "height: 100%". */

html,
body {
    height: 100%;
}

body {
    background: black;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.style-link-none{
    color: black;
}

.style-link-none:hover{
    color: black;
}

.link-posts {
    color: #ff7600;
    font-size: 25px;
    font-family: "Times New Roman";
}

.link {
    color: #ff7600;
}

.link:hover {
    color: #b25505;
}

.avatar-posts {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
}

.avatar-account {
    height: 150px;
    width: 150px;
}

.name-avatar {
    font-family: "Times New Roman";
    font-size: 20px;
    margin-left: 10px;
}

.time-posts {
    position: relative;
    top: -25px;
    left: 10px;
}

.posts {
    border: 2px solid #ddd;
    border-radius: 4px;
}

.img-posts {
    border-radius: 3px;
    width: 100%;
    height: 400px;
    /* height of container */
    object-fit: cover;
}

.content-text-posts {
    position: relative;
    top: -40px;
    margin-bottom: -50px;
}

@media screen and (max-width: 991px) {
    .img-posts {
        height: 450px;
    }

}

@media screen and (max-width: 575px) {
    .img-posts {
        height: 300px;
    }

}

@media screen and (max-width: 406px) {
    .name-avatar {
        position: relative;
        top: -50px;
        margin-left: 60px;
    }

    .time-posts {
        top: -80px;
        margin-left: 50px;
    }

    .content-text-posts {
        top: -80px;
    }

}
